
@font-face {
    font-family: 'Berlingske Serif';
    src: url('BerlingskeSerif-Rg.eot');
    src: url('BerlingskeSerif-Rg.eot?#iefix') format('embedded-opentype'), url('BerlingskeSerif-Rg.woff2') format('woff2'), url('BerlingskeSerif-Rg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
